/*nav*/
.bgNavColor {
    background-color:#003366 !important;
}

.nav-link-color {
    color: white;
    font-family: arial;
}

.icon{
    height:30px;
    width:30px;
}

/*body*/
body {
    background-color: #D3D3D3;
}



/*footer*/
footer {
    background-color:#003366;
    color: white;
}

.about-us-panel{
    background-color:#FFFFFF;
    width: 50%;
    margin:auto;
    padding:10px;
    margin-bottom:10px;
}


.set-text-middle{
    text-align:center;
}

.img{
    max-width:300px;
    max-height:300;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
    border-radius: 50%;
    width: 100%;
}

.about-us-img {
    width: 100%;
}



/*social media*/
.fa {
  padding-right: 5px;
  padding-top:5px;
  padding-bottom: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;

}

.fa-linkedin {
  background: #007bb5;
  color: white;
 
}

/* responsive */

@media only screen and (max-width: 991px) {
    
    .about-us-panel{
        width:100%;
        margin-left:10px;
        margin-right:10px;
    }
}

@media only screen and (max-width: 767px) {

    .about-us-img{
        width:100%;
        margin:auto;
        height:300px;
        
    }
    
    .col-md-6 .p{
        padding-left:5px;
        padding-right:5px;
    }
    
    .col-md-6{
        margin-bottom:10px;
    }
    
}