/*nav*/
.bgNavColor {
    background-color:#003366;
    
}

.icon{
    height:30px;
    width:30px;
}


.nav-link-color {
    color: white;
    font-family: arial;
}

body {
    font-family: arial, sans-serif;
}

/*Index Page*/

.homePageJumbo {
    background-image: url("../../images/jumb.png");
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: -5%;
    height: 800px;
}

.jumboBox {
    background-color: black;
    padding: 20px;
    opacity: 0.6;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 15%;
}

.jumboBox h2, .jumboBox p {
    color:white;
}

.home-box {
    background-color: #003366;
    padding: 50px;
}

.home-box .row {
    margin-bottom: 30px;
}

.home-box img {
    border-radius: 5px;
}

.home-box h1, .home-box p {
    color: white;
}

.needs-help-header {
    margin-bottom: 50px;
    margin-top: 20px;
}

.needs-help-box {
    margin-bottom: 50px;
}

.rounded-circle {
    width: 20%;
    margin:auto;
    margin-left: 40%;
}

.step-img{
    max-height:200px;
    width:100%;
    padding:10px;
    
}

footer {
    background-color:#003366;
    color: white;
    
}