/*nav*/
.bgNavColor {
    background-color:#003366;
    
}

.icon{
    height:30px;
    width:30px;
}


.nav-link-color {
    color: white;
    font-family: arial;
}

body {
    font-family: arial, sans-serif;
    min-width: 389px;
}

/*Index Page*/

.homePageJumbo {
    background-image: url("../../images/jumb.png");
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: -5%;
    height: 800px;
}

.jumboBox {
    background-color: black;
    padding: 20px;
    opacity: 0.6;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 15%;
}

.jumboBox h2, .jumboBox p {
    color:white;
}

.home-box {
    background-color: #003366;
    padding: 50px;
}

.home-box .row {
    margin-bottom: 30px;
}

.home-box img {
    border-radius: 5px;
}

.home-box h1, .home-box p {
    color: white;
}

.needs-help-header {
    margin-bottom: 50px;
    margin-top: 20px;
}

.needs-help-box {
    margin-bottom: 50px;
}

.rounded-circle {
    width: 20%;
    margin:auto;
    margin-left: 40%;
}

.img-size-div {
  height: 0;
  overflow: hidden;
  padding-top: 66.6666%;
  position: relative;
  margin:20px 20px 0 20px;
}

.img-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card {
    height: 100%;
}

/*footer*/

footer {
    background-color:#003366;
    color: white;
    
}

@media only screen and (max-width: 991px) {
    .card {
        margin-left: 30%;
    }
    
    .col-lg-4 {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .card {
        margin:auto;
    }
    
    .col-lg-4 {
        margin-top: 30px;
    }
    
    .img-fluid {
        margin-top: 30px;
    }
}