/*nav*/
.bgNavColor {
    background-color:#003366 !important;
}

/*login be helped*/
.col-md-4 {
    margin-top: 50px;
}

.nav-link-color {
    color: white;
    font-family: arial;
}

/*footer*/
footer {
    background-color:#003366;
    color: white;
    margin-top: 50px;
}