/*nav*/
.bgNavColor {
    background-color:#003366 !important;
    border-bottom: 4px solid #505b59 !important;
}

.nav-link-color {
    color: white;
    font-family: arial;
}

/*body*/
body {
    font-family: arial, sans-serif;
}

/*organization details*/

.carousel-control-next, .carousel-control-prev {
    height: 50px;
    width: 50px;
    margin: auto;
    background-color: black;
    border-radius: 50%;
    opacity: 0.6;
}

.carousel-control-next {
    margin-right: 50px;
}

.carousel-control-prev {
    margin-left: 50px;
}

.carousel-caption {
    background-color: black;
    opacity: 0.6;
    padding: 50px;
    border-radius: 5px;
}

#organizationCarousel {
    margin-top: -4px;
}

.btn-group {
    margin-left:41.6% !important;
}