/*nav*/
.bgNavColor {
    background-color:#003366 !important;
}

.nav-link-color {
    color: white;
    font-family: arial;
}

.icon{
    height:30px;
    width:30px;
}

body {
    font-family: arial, sans-serif;
}

/*organization-profile*/
.profile-image {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-size-div {
  margin-top: -9px;
  height: 0;
  overflow: hidden;
  padding-top: 66.6666%;
  position: relative;
}

/*footer*/
footer {
    background-color:#003366;
    color: white;
    margin-top: 50px;
    width:100%;
}