/*nav*/
.bgNavColor {
    background-color:#003366 !important;
}

.nav-link-color {
    color: white;
    font-family: arial;
}

.icon{
    height:30px;
    width:30px;
}

/*footer*/
footer {
    background-color:#003366;
    color: white;
    
}