/*nav*/
.bgNavColor {
    background-color:#003366 !important;
}

.icon{
    height:30px;
    width:30px;
}

.nav-link-color {
    color: white;
    font-family: arial;
}

body {
    font-family: arial, sans-serif;
}

/*organization-needs*/
.card {
    margin-top: 50px;
}

.card p {
    padding: 10px;
}

/*footer*/
footer {
    background-color:#003366;
    color: white;
    margin-top: 50px;
    width:100%;
}